html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,sans-serif;
    overscroll-behavior: none;
}

body {
    background: #efefef;
}

#day {/* ピンチインアウトされても位置と大きさを固定する。
    大きさの基準はfont-sizeとして、font-sizeをJavaScriptから動的に変える。
    そのため、余白やボーダーはem単位とする。
    transform: scale()で大きさの調整をしないのは
    top, leftの値もスケーリングされるので位置の調整が難しくなるから。 */
    position: absolute;
    z-index: 200;
    top: 20px;
    left: 20px;
    font-size: 2.5vh;
    background: #fff;
    padding: 0;
    border: 0.15em solid #fff;
    box-shadow: 0.1em 0.1em 0.25em #bbb;
    border-radius: 0.7em;
    display: flex;
    opacity: 0.7;
}

#day input {
    display: none;
}

#day label {
    display: block;
    width: 3.5em;
    padding: 0.3em;
    background: #eee;
    color: #ccc;
    text-align: center;
}

#day label[for="weekday"] {
    border-radius: 0.55em 0 0 0.55em;
}

#day label[for="holiday"] {
    border-radius: 0 0.55em 0.55em 0;
}

#day input:checked + label {
    background: #8ef5a9;
    color: #495c4e;
}

.fade-out {
    transition: 0.2s;
    opacity: 0!important;
}

.fade-in {
    transition: 0.5s;
    
}

.hidden {
    display: none!important;
}

#routemap {
    margin: auto;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 1000px; /* 基準 */
    height: 777px; /* 高畑-藤が丘間を1000pxとしたときの上小田井-名古屋港間の距離 */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;/* Safariでtransform: scale()でぼやける対策 */
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.station {
    position: absolute;
    z-index: 10;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    transform: translate(-8px, -8px);
}

.station.東山線 {
    border-color: #edaa36;
}

.station.名城線 {
    border-color: #897bb0;
}

.station.鶴舞線 {
    border-color: #259ece;
}

.station.桜通線 {
    border-color: #ca252b;
}

.station.上飯田線 {
    border-color: #dc6e8b;
}

.station.名港線 {
    border-color: #897bb0;
}

.station span {
    position: absolute;
    display: block;
    width: 64px;
    font-size: 12px;
    line-height: 16px;
    left: -24px; /* (64 - 16)÷ 2 駅の中心に表示させる*/
    /*outline: 1px solid red;*/
}

@keyframes genie {
    0% {
        width: 0;
        height: 0;
        font-size: 0;
        opacity: 0;
    }
    
    100% {
        width:14.5em;
        height: auto;
        font-size: 2.5vh;
        opacity: 0.7;
    }
}

.timetable {
    background: #fff;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2.5vh;
    width: 14.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 1em 0 1em 0.7em;
    box-shadow: 0.1em 0.1em 0.25em #bbb;
    border-radius: 0.7em;
    opacity: 0.7;
    z-index: 1000;
    /*animation: genie 0.4s ease 0s 1 normal none;*/
}

.timetable dt {
    float: left;
    clear: left;
    width: 3.5em;
    text-align: right;
    margin: 0 0.8em 0 0;
    padding: 0;
    font-size: 90%;
    color: #253d2b;
}

.timetable dd {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 90%;
}

.timetable::after {
    content: ".";
    width: 0;
    height: 0;
    display: block;
    clear: left;
    visibility: hidden;
}

.line {
    position: absolute;
    z-index: 1;
    width: 6px;
    background: #ccc;
    transform-origin: 0 0;
    /* height, top, left, transform:rotate()はJavaScriptで指定する */
}

.line.東山線 {
    background: #edaa36;
}

.line.名城線 {
    background: #897bb0;
}

.line.鶴舞線 {
    background: #259ece;
}

.line.桜通線 {
    background: #ca252b;
}

.line.上飯田線 {
    background: #dc6e8b;
}

.line.名港線 {
    box-sizing: border-box;
    border-left: 2px solid #897bb0;
    border-right: 2px solid #897bb0;
    background: #fff;
}

.train {
    position: absolute;
    z-index: 100;
    /* top, left, transform:rotate()はJavaScriptで指定する */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 12px, 24px 16px;

    width: 24px;
    height: 24px;
    
    transform-origin: 0 0;
}

.train.wait {
    background-size: 24px 16px;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.train.active {
    animation: blink 0.7s ease 0s infinite alternate none;
}

.train.hidden {
    display: none;
}

.train.東山線 {
    background-image: url("./img/arrow_ffffff.png"), url("./img/arrow_edaa36.png");
}

.train.東山線.wait {
    background-image: url("./img/arrow_edaa36.png");
}

.train.鶴舞線 {
    background-image: url("./img/arrow_ffffff.png"), url("./img/arrow_259ece.png");
}

.train.鶴舞線.wait {
    background-image: url("./img/arrow_259ece.png");
}

.train.桜通線 {
    background-image: url("./img/arrow_ffffff.png"), url("./img/arrow_ca252b.png");
}

.train.桜通線.wait {
    background-image: url("./img/arrow_ca252b.png");
}

.train.名城線 {
    background-image: url("./img/arrow_ffffff.png"), url("./img/arrow_897bb0.png");
}

.train.名城線.wait {
    background-image: url("./img/arrow_897bb0.png");
}

.train.名港線 {
    background-image: url("./img/arrow_897bb0.png"), url("./img/arrow_ffffff.png"), url("./img/arrow_897bb0.png");
    background-size: 12px 8px, 18px 12px, 24px 16px;
}

.train.名港線.wait {
    background-image: url("./img/arrow_897bb0.png");
    background-size: 24px 16px;
}

.train.上飯田線 {
    background-image: url("./img/arrow_ffffff.png"), url("./img/arrow_dc6e8b.png");
}

.train.上飯田線.wait {
    background-image: url("./img/arrow_dc6e8b.png");
}




#高畑 span {
    left: 20px;
    text-align: left;
}

#八田 span {
    left: 20px;
    text-align: left;
}

#岩塚 span {
    left: 20px;
    text-align: left;
}

#中村公園 span {
    left: 20px;
    text-align: left;
}

#中村日赤 span {
    left: -50px;
    top: -20px;
    text-align: right;
}

#本陣 span {
    top: -20px;
}

#亀島 span {
    top: -20px;
}

#伏見 span {
    left: -64px;
    top: 16px;
    text-align: right;
}

#栄 span {
    left: -64px;
    top: 16px;
    text-align: right;
}

#新栄町 span {
    top: 20px;
}

#千種 span {
    top: 20px;
}

#池下 span {
    top: -20px;
}

#覚王山 span {
    top: -20px;
}

#本山 span {
    top: 10px;
    left: -68px;
    text-align: right;
}

#東山公園 span {
    top: -20px;
}

#星ヶ丘 span {
    top: 20px;
}

#一社 span {
    top: 20px;
}

#上社 span {
    left: -66px;
    top: -12px;
    text-align: right;
}

#本郷 span {
    top: 20px;
}

#藤が丘 span {
    left: -66px;
    top: -12px;
    text-align: right;
}

#中村区役所 span {
    top: 20px;
}

#名古屋 span {
    top: 20px;
}

#国際センター span {
    top: -20px;
    width: 80px;
    left: -31px;
}

#丸の内 span {
    top: -17px;
    left: 3px;
    text-align: left;
}

#久屋大通 span {
    top: 9px;
    left: -64px;
    text-align: right;
}

#高岳 span {
    top: -20px;

}

#車道 span {
    top: -20px;
}

#今池 span {
    top: -20px;
}

#吹上 span {
    left: 20px;
    text-align: left;
}

#御器所 span {
    left: 20px;
    top: -18px;
    text-align: left;
}

#桜山 span {
    left: 20px;
    text-align: left;
}

#瑞穂区役所 span {
    left: 20px;
    text-align: left;
}

#瑞穂運動場西 span {
    width: 80px;
    left: -84px;
    text-align: right;
}

#新瑞橋 span {
    top: 10px;
    left: 20px;
    text-align: left;
}

#桜本町 span {
    left: -68px;
    text-align: right;
}

#鶴里 span {
    top: 20px;
}

#野並 span {
    top: 20px;
}

#鳴子北 span {
    top: -20px;
}

#相生山 span {
    top: -20px;
}

#神沢 span {
    top: -20px;
}

#徳重 span {
    left: 20px;
    text-align: left;
}

#金山 span {
    left: -68px;
    text-align: right;
}

#東別院 span {
    left: -68px;
    text-align: right;
}

#上前津 span {
    left: -68px;
    top: 10px;
    text-align: right;
}

#矢場町 span {
    left: 20px;
    text-align: left;
}

#市役所 span {
    left: -68px;
    text-align: right;
}

#名城公園 span {
    left: -68px;
    text-align: right;
}

#黒川 span {
    top: -20px;
}

#志賀本通 span {
    top: -20px;
}

#平安通 span {
    top: 20px;
}

#上飯田 span {
    top: -20px;
}

#大曽根 span {
    top: -20px;
}

#ナゴヤドーム前矢田 span {
    top: 20px;
    width: 80px;
    left: -32px;
}

#砂田橋 span {
    top: -20px;
}

#茶屋ヶ坂 span {
    left: 20px;
    text-align: left;
}

#自由ヶ丘 span {
    left: 20px;
    text-align: left;
}

#名古屋大学 span {
    left: -68px;
    text-align: right;
}

#八事日赤 span {
    left: 20px;
    text-align: left;
}

#八事 span {
    top: -10px;
    left: 20px;
    text-align: left;
}

#総合リハビリセンター span {
    left: 20px;
    width: 80px;
    text-align: left;
}

#瑞穂運動場東 span {
    left: 20px;
    width: 80px;
    text-align: left;
}

#妙音通 span {
    top: 20px;
}

#堀田 span {
    top: 20px;
}

#伝馬町 span {
    top: 20px;
}

#神宮西 span {
    left: -68px;
    text-align: right;
}

#西高蔵 span {
    left: 20px;
    text-align: left;
}

#日比野 span {
    left: -68px;
    text-align: right;
}

#六番町 span {
    left: -68px;
    text-align: right;
}

#東海通 span {
    left: -68px;
    text-align: right;
}

#港区役所 span {
    left: -68px;
    text-align: right;
}

#築地口 span {
    left: -68px;
    text-align: right;
}

#名古屋港 span {
    left: -68px;
    text-align: right;
}

#上小田井 span {
    left: -68px;
    text-align: right;
}

#庄内緑地公園 span {
    left: -84px;
    width: 80px;
    text-align: right;
}

#庄内通 span {
    left: -68px;
    text-align: right;
}

#浄心 span {
    left: -68px;
    text-align: right;
}

#浅間町 span {
    left: -68px;
    text-align: right;
}

#大須観音 span {
    left: -68px;
    text-align: right;
}

#鶴舞 span {
    top: 20px;
}

#荒畑 span {
    top: 20px;
}

#川名 span {
    top: 20px;
}

#いりなか span {
    top: 20px;
}

#塩釜口 span {
    top: 20px;
}

#植田 span {
    top: 20px;
}

#原 span {
    top: 20px;
}

#平針 span {
    top: 20px;
}

#赤池 span {
    top: 20px;
}

#butInstall {
    border: none;
    background: inherit;
    box-shadow: none;
    transition: none;
}